

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: rgba(30, 36, 128, 0.603);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: rgb(172, 142, 142);
    --bs-table-active-color: ;
    --bs-table-hover-color: rgb(153, 115, 115);
    --bs-table-hover-color: ;
    --s-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    vertical-align: top;
    border-color: #7791ac;
    font-size: 0.9rem;
}


div.mdb-datatable div.mdb-datatable-filter input {
    background-color: transparent;
    margin-left: 52rem;
    color: white;
    margin-bottom: -1rem;
}
div.mdb-datatable div.mdb-datatable-length label{
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: -2.5rem;
}
div.mdb-datatable div.mdb-datatable-info {
    display: flex;
    justify-content: center;
    color: white;
}
.NFTsTables{
    background-color: #272D47;
    border-radius: 10px;
    padding: 20px;
}
div.mdb-datatable div.mdb-datatable-length select{
    background-color: transparent;
    color: white;
}

.ButtonNft{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #657eda;
    display: flex;
    margin-top: 1rem;
    margin-left: -0.2rem;
    color: white;
}
table.dataTable tbody tr {
background-color: transparent;
}
.someImgClass{
    width: 100%;
}
table.dataTable tbody td {
    width: 35%;
}
.dataTables_wrapper, .dataTables_length select{
    color: white;
}
.my-1{
    background-color: transparent;
}
.dataTables_info{
    color: white !important;
}

.UpdateNftsDiv{
    
        background-color: #272D47;
        padding: 40px;
        border-radius: 20px;
    
}
.chooseImgUpdate{
    display: flex;
    text-align: start;
    margin-bottom: 1rem;
}
.chooseImgUpdate input{
    padding: 7px;
    background-color: transparent;
    border: 1px solid rgba(154, 167, 197, 0.281);
    color: rgb(143, 155, 182);
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}
.chooseImgUpdate button{
    padding: 7px;
    width: 8rem;

}
.UpdateNftTitle{
    text-align: start;
    color: rgb(143, 155, 182);
}
.UpdateTitle h6{
    text-align: start;
    color: rgb(143, 155, 182);
}
.UpdateTitle{
    margin-bottom: 1rem;
}
.UpdateTitle input{
    padding: 7px;
    background-color: transparent;
    border: 1px solid rgba(154, 167, 197, 0.281);
    color: rgb(143, 155, 182);
    width: 100%;
    border-radius: 5px;
}
.UpdateNftDes{
    margin-bottom: 1rem;
}
.UpdateNftDes h6{
    text-align: start;
    color: rgb(143, 155, 182);
}
.UpdateNftDes input{
    background-color: transparent;
    border: 1px solid rgba(154, 167, 197, 0.281);
    color: rgb(143, 155, 182);
    width: 100%;
    border-radius: 5px;
}
.selectUpdateDiv{
    text-align: start;
    margin-top: 1rem;
}
@media only screen and (max-width: 1094px) {
    .NFTsTables{
        overflow: scroll;
    }
    .adminBtnNFT{
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #657eda;
        display: flex;
        margin-top: 1rem;
        margin-left: -0.2rem;
        width: 15%;
        color: white;
    }
    
    }
@media only screen and (max-width: 964px) {
    .NFTsTables{
        overflow: scroll;
    }
    .adminBtnNFT{
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #657eda;
        display: flex;
        margin-top: 1rem;
        margin-left: -0.2rem;
        width: 23%;
        color: white;
    }
    
    }

@media only screen and (max-width: 600px) {
    .NFTsTables{
        overflow: scroll;
    }
    .adminBtnNFT{
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #657eda;
        display: flex;
        margin-top: 1rem;
        margin-left: -0.2rem;
        width: 25%;
        color: white;
    }
    
    }
@media only screen and (max-width: 460px) {
    .NFTsTables{
        overflow: scroll;
    }
    .adminBtnNFT{
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #657eda;
        display: flex;
        margin-top: 1rem;
        margin-left: -0.2rem;
        width: 40%;
        color: white;
        text-align: center;
    }
    
    }
@media only screen and (max-width: 300px) {
    .NFTsTables{
        overflow: scroll;
    }
    .adminBtnNFT{
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #657eda;
        display: flex;
        margin-top: 1rem;
        margin-left: -0.2rem;
        width: 52%;
        color: white;
    }
    
    }

