.sideBar{
    background-color: #272D47;
    height: 100%;
}
.dashLogo{
    margin-top: -3.5rem;
    width: 60px;
    margin-left: 5rem;
    padding: 5px;
    
}
.dashboardNav{
    background-color: #272D47;
    width: 100%;
    height: 100%;
}
.menuDiv{
    text-align: start;
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
    
}
.menuDiv .dashboardMenu{
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, 0.65);
    fill: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    width: 180px;
    height: 42px;
    padding-left: 2px ;
    padding-top: 2px;
    margin-bottom: 0.5rem;
}
.menuDiv i{
    margin-right: 1rem;
}
.navIconAdmin{
    background: #2f3655;
    box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
    border: 1px solid rgba(255, 255, 255, 0.04);
    display: inline-block;
    width: 37.5px;
    height: 37.5px;
    padding: 8px;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-right: 12px;
}
.navIconAdmin i{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.65);
    fill: rgba(255, 255, 255, 0.65);
    margin-left: -0rem;
    margin-top: -0.2rem;
}
.imgDashDiv img{
    width: 40px;
    border-radius: 50%;
    margin-left: 54rem;
}
.dashboardTopBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminProfile{
    background-color: #272d47;
    width: 20%;
    position: absolute;
    margin-left: 61rem;
    margin-top: 2rem;
    will-change: transform;
    transform: translate3d(-147px, 46px, 0px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 10px 15px rgb(15 17 29 / 90%);
    color: #d5dae2;
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
}
.adminProfile.active{
    visibility: visible;
    opacity: 1;
    margin-top: 1rem;
    transition: all 0.5s ease-in-out;
}

.adminProfile a{
 color: #d5dae2;
 text-decoration: none;
 display: inline-block;
}

@media only screen and (max-width: 1294px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 49rem;
}
.adminProfile{
    background-color: #272d47;
    width: 30%;
    position: absolute;
    margin-left: 50rem;
}

}
@media only screen and (max-width: 1054px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 34rem;
}
.adminProfile{
    background-color: #272d47;
    width: 40%;
    position: absolute;
    margin-left: 35rem;
}

}
@media only screen and (max-width: 964px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 29rem;
}
.adminProfile{
    background-color: #272d47;
    width: 40%;
    position: absolute;
    margin-left: 32rem;
}

}
@media only screen and (max-width: 854px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 23rem;
}
.adminProfile{
    background-color: #272d47;
    width: 40%;
    position: absolute;
    margin-left: 29rem;
}

}
@media only screen and (max-width: 774px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 20rem;
}
.adminProfile{
    background-color: #272d47;
    width: 40%;
    position: absolute;
    margin-left: 26rem;
}

}
@media only screen and (max-width: 600px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 18rem;
}

}
@media only screen and (max-width: 450px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 9rem;
}
.adminProfile{
    background-color: #272d47;
    width: 70%;
    position: absolute;
    margin-left: 15rem;
}

}
@media only screen and (max-width: 360px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 8rem;
}
.adminProfile{
    background-color: #272d47;
    width: 70%;
    position: absolute;
    margin-left: 15rem;
}

}
@media only screen and (max-width: 290px) {
.imgDashDiv img {
    width: 42px;
    border-radius: 50%;
    margin-left: 3rem;
}
.adminProfile{
    background-color: #272d47;
    width: 70%;
    position: absolute;
    margin-left: 13rem;
}

}