table.dataTable tbody td {
    width: 0%;
}
.dataTables_length{
    display: none;
}
.mdb-datatable-filter{
    display: none;
}
.selectInput{
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  border-color: #EF5858;
  width: 240px;
  margin-right: 2rem;
}
@media only screen and (max-width: 600px){
    .dataTableTop{
      overflow: scroll;
    }
    .selectInput{
      padding: 0.5rem;
      margin-bottom: 1.5rem;
      border-radius: 10px;
      border-color: #EF5858;
      width: 80%;
      margin-left: 2rem;

    }

  }
/* 
  @media screen and (max-width: 640px)
.dataTables_wrapper .dataTables_length, .dataTables_wrapper  */