.titleWallet{
    font-family: Montserrat;
    color: #a2a2a2;
}
.walletIcon{
    width: 40px;
}
.content{
    font-family: Montserrat !important;
    font-weight: bold;
    color: #a2a2a2;
}
.walletDiv span{
    font-family: Montserrat !important;
    margin-left: 2rem;
    font-weight: bold;
}
.walletDiv{
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgb(167, 161, 161);
}

.walletDiv:hover{
    background-color: rgba(167, 161, 161, 0.205) !important;
}
.wallets{
    text-decoration: none;
    color: #a2a2a2;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    border-radius: 10px !important;
}

.dailogue{
    background-color: #212427;
    border-radius: 10px
}