.dashboardDiv{
    background-color: #1A1C33;
    height: 100%;
    background-position: fixed;
}
.dashboardTxt{
    color: white;
    line-height: 10px;
}
.cardDash{
    background-color: #272D47;
}
svg{
    color: white;
}
.demoP{
    visibility: hidden;
}
@media only screen and (max-width: 994px) {
    .dashboardDiv{
        background-color: #1A1C33;
        height: auto;
        background-size: cover;
    }
 
}
