.dashboardDiv{
    background-color: #1A1C33;
    height: 100%;
    background-position: fixed;
}
.dashboardTxt{
    color: white;
    line-height: 10px;
}
.cardDash{
    background-color: #272D47;
}
svg{
    color: white;
}