.newCollectionCard{
    background-color: #26292D;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 30%);
    border-top: solid 1px rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .025);
    text-align: start;
}
.ItemsImg{
    padding: 35px 20px 5px 20px;
    border-radius: 20px;
}

.imgCollection{
    width: 100%;
    border-radius: 20px;
}
.ItemsImg:hover{
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.imgUsersNew{
    width: 50px;
    border-radius: 50%;
}
.imgUsersNew:hover{
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}
.UserImgNew{
    border: 1px solid white;
    border-radius: 50%;
    background-color: #FF343F;
    overflow: hidden;
    width: 50px;
    position: absolute;
    margin-top: -1rem;
}

.UserImgNew:hover{
   border: 1px solid #FF343F;
}

.checkNew{
    position: absolute;
    margin-top: -1.6rem;
    margin-left: 1.9rem;
    color: #FF343F;
}
.buttonCollection{
   background-color: #212428;
   border: 2px solid #FF343F;
   padding: 4px 18px;
   border-radius: 20px;
   position:absolute;
   margin-left: 7rem;
   margin-top: -1.2rem;
}

.collectionPrice{
    color: #a2a2a2;
    font-size: 0.9rem;
    font-weight: bold;
}
.payStatus{
    color: #FF343F;
    font-size: 0.8rem;
    font-weight: bold;
}
.collectionLike{
    font-size: 0.8rem;
    margin-right: 1rem;
    padding-left: 5rem;
}
.collectionLike i{
    color: #a2a2a2;
    cursor: pointer;
}
.collectionLike i:hover{
    color: #FF343F;
    transition: all 0.3s ease-in-out;
}
 @media only screen and (max-width: 994px){
    .buttonCollection{
        margin-left: 11rem;
     }
     .collectionLike{
        padding-left: 10rem;
    }

}
 @media only screen and (max-width: 600px){
    .buttonCollection{
        margin-left: 23rem;
     }
     .collectionLike{
       
        padding-left: 20rem;
    }

}
 @media only screen and (max-width: 450px){
    .buttonCollection{
        margin-left: 15rem;
     }
     .collectionLike{
       
        padding-left: 13rem;
    }

}
 @media only screen and (max-width: 400px){
    .buttonCollection{
        margin-left: 13rem;
     }
     .collectionLike{
       
        padding-left: 10rem;
    }

}
 @media only screen and (max-width: 300px){
    .buttonCollection{
        margin-left: 7rem;
     }
     .collectionLike{
       
        padding-left: 9rem;
    }

}